<h2>Załóż konto</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group py-1" *ngFor="let control of controls">
        <label [for]="control">{{ control | titlecase}}</label>
        <input 
            [id]="control"  
            [type]="control === 'password' ? 'password' : 'text'" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
            [placeholder]="'Wprowadź ' + control"
            [formControlName]="control" 
            >
        <small *ngIf="registerForm.get(control)?.touched && registerForm.get(control)?.errors && control !== 'password'" class="form-text text-danger">
            {{ control | titlecase }} is required
        </small>
        <small *ngIf="registerForm.get(control)?.touched && registerForm.get(control)?.errors && control == 'password'" class="form-text text-danger">
            Min length 8
        </small>
    </div>
    <button type="submit" class="btn btn-primary mt-1">Zatwierdź</button>    
</form>
<app-loader *ngIf="loading"/>
<app-modal/>
